.root{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-bottom: 150px;
}

.heading{
  font-size: var(--yov-font-size-16);
  font-weight: 700;
  color: var(--yov-dark-text-color1);
}

.group{
  display: grid;
  gap: 35px;
}

.portfolio {
  font-size: var(--yov-font-size-16);
  font-weight: 500;
}

.elect {
  display: flex;
  flex-direction: column;
  gap: 16px;
}